<% if flash[:messages] %> 
    <%flash[:messages].each do |m| %>
        <li><%= m %></li>
    <% end %>
<% end %>

<%= form_for( @heroine ) do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %><br>
    <%= f.label :super_name %>
    <%= f.text_field :super_name %><br>
    <%= collection_select :power, :power_id, Power.all, :id, :name, prompt: true %>
    <%= f.submit %>
<% end %>