<% if @heroine.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@heroine.errors.count, "error") %> prohibited this article from being saved:</h2>

    <ul>
    <% @heroine.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<%= form_for(@heroine) do |f| %>
  <%= f.label :name %><br>
  <%= f.text_field :name %><br>
  <%= f.label :super_name %><br>
  <%= f.text_field :super_name %><br>
  <%= f.label :super_power %><br>
  <%= f.collection_select(:power_ids, Power.all, :id, :name, prompt: true) %><br>
  <%= f.submit %>
<% end %>
